<%= link_to 'Create Shelter', '/shelters/new' %>

<% @shelters.each do |shelter| %>
  <h3><a href="/shelters/<%=shelter.id%>"><%= shelter.name %></a>
    <%= link_to "Edit Shelter", "/shelters/#{shelter.id}/edit"%>
      <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", :method => :delete %></h3>
<% end %>
