<h4><%= link_to "All Pets", "/shelters/#{@shelter.id}/pets" %></h4>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p><%=@shelter.city%></p>
<p><%=@shelter.state%></p>
<p><%=@shelter.zip%></p>

<%= link_to "Update Shelter", {:action=>"edit"}, :method => :get%>
<%= link_to "Delete Shelter", @shelters, :method => :delete%>
</br>
