<h1> All Adoptable Pets From "<%= Shelter.find(@param).name %>"</h1>

<% @pets.each do |pet| %>
  <%=link_to "#{pet.name}", "/pets/#{pet.id}"%></br>
  <%= "Image: #{pet.image}" %></br>
  <%= "Approximate Age: #{pet.approximate_age}" %></br>
  <%= "Female or Male: #{pet.sex}" %></br>
<% end %>

<%# <%= link_to "Delete", "/shelters/#{shelter.id}/pets" method: :destroy %>
<%# <%= link_to "Edit", "/pets/#{pet.id}/edit" %>
