<h1> All Adoptable Pets From "<%= Shelter.find(@param).name %>"</h1>

<% @pets.each do |pet| %>
  <h3><%=link_to "#{pet.name}", "/pets/#{pet.id}"%>
  <%= link_to "Update Pet", "/pets/#{pet.id}/edit"%>
    <%= link_to "Delete Pet", "/pets/#{pet.id}", :method => :delete %></h3></br>
  <%= "Image: #{pet.image}" %></br>
  <%= "Approximate Age: #{pet.approximate_age}" %></br>
  <%= "Female or Male: #{pet.sex}" %></br>
<% end %>
