<h1> Edit Pet</h1>

 <%= form_tag "/pets/#{@pet.id}", method: :patch do %>
 <%= label_tag "image"%>
 <%= text_field_tag :image, nil, placeholder: 'Enter image URL here'%></br>
 <%= label_tag "name"%>
 <%= text_field_tag :name, nil, placeholder: 'Enter name here'%></br>
 <%= label_tag "decription"%>
 <%= text_field_tag :description, nil, placeholder: 'Enter description here'%></br>
 <%= label_tag "approximate_age"%>
 <%= text_field_tag :approximate_age, nil, placeholder: 'Enter approximate age here'%></br>
 <%= label_tag "sex"%>
 <%= text_field_tag :sex, nil, placeholder: "('female' or 'male')"%></br>
 <%= label_tag "adoptable status" %>
 <%= text_field_tag :adoptable_status, nil, placeholder: "Adoptable or pending adoption" %></br>
 <%= submit_tag "Update Pet" %>
 <% end %>
