<h1> Pet </h1>

  <%= @pets.image %></br>
  <%= @pets.name %></br>
  <%= @pets.description %></br>
  <%= @pets.approximate_age %></br>
  <%= @pets.sex %></br>
  <%# <%= @pets.adopable %>

<%= button_to "Update Pet", {:action=>"edit"}, :method=> :get %>
<%= button_to "Delete Pet", {:action=>"destroy"}, :method => :delete%>
