<h1> Pet </h1>
<dl>
  <dt>
    Image: <%= @pets.image %></br>
  </dt>
  <dd>
    Name: <%= @pets.name %></br>
  </dd>
  <dd>
    Description: <%= @pets.description %></br>
  </dd>
  <dd>
    Approximate Age: <%= @pets.approximate_age %></br>
  </dd>
  <dd>
    Sex: <%= @pets.sex %></br>
  </dd>
  <dd>
    Adoption Status: <%= @pets.adoptable_status%>
  </dd>
</dl>

<%= link_to "Update Pet", {:action=>"edit"}, :method=> :get %>
<%= link_to "Delete Pet", {:action=>"destroy"}, :method => :delete%>
