<h1> Pet </h1>

  <%= @pets.image %></br>
  <%= @pets.name %></br>
  <%= @pets.description %></br>
  <%= @pets.approximate_age %></br>
  <%= @pets.sex %></br>
  <%= @pets.adoptable_status%>

<%= link_to "Update Pet", {:action=>"edit"}, :method=> :get %>
<%= link_to "Delete Pet", {:action=>"destroy"}, :method => :delete%>
